/* body h1,h2,h3,h4,h5,h6,ul, li {
    margin: 0;
} */

header {
    
    margin: 0 auto;
   background-image: url(../images/H75309413ec8e40fa83aba67154bd2e65l.jpg);
   background-size:20%;
  height: 430px;

}

h1 {
    font-size: 90px;
    margin: 0 0 0 1em;
    padding-top: 0.5em;
   color: rgb(255, 255, 255);
   text-shadow: 4px 4px 8px #000000;
}

h2 {
    font-size: 70px;
    margin: 1em 0 0 1.4em;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 8px #000000;
}