@charset "UTF-8";
/* Body */

body {
	font-family: Helvetica, Arial, "sans-serif";
	background-color: #FFFFFF;
	color:black; 
	margin: 40px;
	font-weight: lighter;
	font-size:95%;
	letter-spacing: 102%;
	line-height:114%;
	word-spacing:102%;
}

a.black:active, a.black:link, a.black:visited {color:black;}
a.black:hover {
	color: #094944;
	cursor: pointer;
	text-decoration:none;
	}

.yellow-h1 {color:yellow; 
	font-size:medium;
text-align:center;}

.white {color:white;}

.container {
 	position: relative;
  	/*text-align: center;*/
  	/*color: white;*/
	background-color:white;
	padding:0px;
	margin:0px;
}

.container-homepage {
 	position: relative;
  	/*text-align: center;*/
  	/*color: white;*/
	background-color:darkcyan;
	padding:0px;
	margin:0px;
}

.centered {
	font-size:.7em;
  	position: absolute;
  	top: 50%;
  	left: 50%;
	text-transform:uppercase;
	text-transform:fullwidth;
  	transform: translate(-50%, -50%);
	opacity:1;
	color:black;
}

.centered:hover {opacity:1}

a.back {text-align: center;align-content: center;
}

.back {
	text-align: center; 
	color: white; 
	align-content: center; 
	padding-bottom:15px;
	}

a.back:active {color:white; text-decoration:none;}
a.back:link {color:white; text-decoration:none;}
a.back:visited {text-decoration:none;}
a.back:hover {text-decoration:underline; cursor: pointer;}

.intro2 {
	text-align: center;
	background-color:darkcyan;
	padding-bottom: 6px;
	padding-top:6px;
	margin-bottom:12px; 
}

.button2 {
	background-color: darkcyan;
	align-content: center;
	display: inline-block;
	width:100%;
	margin-top: auto;
	/*padding:6px;*/
	padding: 0px 0px 20px 0px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
	/*border: 1px solid #000000;*/
	color: #FFFFFF;
	text-decoration:none;
	}


a.button2:active, a.button2:link, a.button2:visited {text-decoration:none;}

a.button2:hover {
	/*background-color: #6DC7D0;*/
	color: lightgoldenrodyellow;
	cursor: pointer;
	text-decoration:underline;
	}

.text_column {
	padding-top:10px;
	margin-bottom:4px;
	}

.thumbnail {
	align-content: center;
	width:25%;
	padding:0px;
	margin:0px; 
	outline-color:black;
	outline-width:thin; 
}

.box{	
	width:100%;
	height:80px;
	background-color: #ffffff;
	padding:0px; 
	margin:0px;
}


header {
	width: 100%;
	height: 8%;
	background-color: #5D5E5D;
	border-bottom: 1px solid #353635;
	padding-bottom:10px;
}


.logo {
	color: #fff;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 22px;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}

.text_column {
	width: 90%;
	text-align: left;
	font-weight: normal;
	line-height: 25px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	color: #A3A3A3;
}

.gallery {
	/*clear: both;*/
	align-content: center;
	display: inline-block;
	width: 100%;
	padding:0px;
	margin:0px;
	color:black;
}

.gallery h1, h2, h3, h4, h5 {color:#094944;
	text-transform:uppercase}

.gallery p, ul, li {text-align:left;}


.thumbnail {
	/*width: 25%;*/
	align-content: center;
	text-align: center;
	float: left;
	padding:0px;
	margin:0px;
}

.tag {
	color: #5D5E5D;
	padding: 5px;
	text-align: center;
}

/*h4 {
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight:bolder;
}*/

.intro {
	background-color: #FFFFFF;
	/*padding-bottom: 35px;*/
	display: inline-block;
	background-color:darkcyan;
	width:100%;
}

.column {
    width: 50%;
    /*text-align: center;*/
    padding-top: 30px;
    float: left;
    color: #F92304;
}

.intro .column h3 {
	color: #FFFFFF;
	text-align: center;
}
.intro .column p {
	color: #FFFFFF;
}

.intro .column p {
	/*padding-left: 30px;
	padding-right: 30px;*/
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	/*margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;*/
}

.cards {
	/*width:100%;*/
	margin:auto;
	padding:0px;
	/*outline:10px solid white;*/
}

.cards:hover {
	opacity: .5;
	}

.button {
	width: 20%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	/*padding: 10px;*/
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}

.button:hover {
	background-color: #6DC7D0;
	color: #FFFFFF;
	cursor: pointer;
}


.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
footer {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
}

.profile {
	width: 50%;
}

/* Primary Styles */
*, *::before, *::after {
	box-sizing: border-box;
 }
 
 body {
	font-family: sans-serif;
	font-size: 1em;
	color: #333;
 }
 
 h1 {
   font-size: 1.4em;
 }
 
 em {
	font-style: normal;
 }
 
 a {
	text-decoration: none;
	color: inherit;
 } 
 
 /* Layout */
 .s-layout {
	display: flex;
	width: 100%;
	min-height: 100vh;
 }
 
 .s-layout__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
 }
 
 /* Sidebar */
 .s-sidebar__trigger {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4em;
	background: #192b3c;
 }
 
 .s-sidebar__trigger > i {
	display: inline-block;
	margin: 1.5em 0 0 1.5em;
	color: #f07ab0;
 }
 
 .s-sidebar__nav {
	position: fixed;
	top: 0;
	left: -15em;
	overflow: hidden;
	transition: all .3s ease-in;
	width: 15em;
	height: 100%;
	background: #243e56;
	color: rgba(255, 255, 255, 0.7);
 }
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
	left: 0;
 }
 
 .s-sidebar__nav ul {
	position: absolute;
	top: 4em;
	left: 0;
	margin: 0;
	padding: 0;
	width: 15em;
 }
 
 .s-sidebar__nav ul li {
	width: 100%;
 }
 
 .s-sidebar__nav-link {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 4em;
 }
 
 .s-sidebar__nav-link em {
	position: absolute;
	top: 50%;
	left: 4em;
	transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
	background: #4d6276;
 }
 
 .s-sidebar__nav-link > i {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 4em;
	height: 4em;
 }
 
 .s-sidebar__nav-link > i::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 }
 
 /* Mobile First */
 @media (min-width: 42em) {
	.s-layout__content {
	   margin-left: 4em;
	}
	
	/* Sidebar */
	.s-sidebar__trigger {
	   width: 4em;
	}
	
	.s-sidebar__nav {
	   width: 4em;
	   left: 0;
	}
	
	.s-sidebar__nav:hover,
	.s-sidebar__nav:focus,
	.s-sidebar__trigger:hover + .s-sidebar__nav,
	.s-sidebar__trigger:focus + .s-sidebar__nav {
	   width: 15em;
	}
 }
 
 @media (min-width: 68em) {
	.s-layout__content {
	   margin-left: 15em;
	}
	
	/* Sidebar */
	.s-sidebar__trigger {
	   display: none
	}
	
	.s-sidebar__nav {
	   width: 15em;
	}
	
	.s-sidebar__nav ul {
	   top: 1.3em;
	}
 }
 


/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
}
.intro .column p {
	width: 80%;
	margin-left: 0px;
}
.text_column {
	padding-left: 20px;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
.cards {
	width: 70%;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 925px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 100%;
}
.text_column {
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
.column {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.profile {
	width: 100%;
}
.intro .column p {
	width: 90%;
	text-align: center;
	padding-left: 0px;
}
.cards {
	width: 80%;
}
}

/* Small Desktops */
@media (min-width: 926px) and (max-width: 1366px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}

/* Medium Desktops */
@media (min-width: 1367px) and (max-width: 1919px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 33%;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}

